.image {
  background-color: var(--skeleton-color);
}

.image__element {
  width: 100%;
  height: 100%;

  /* object-fit: cover; */
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image--loaded .image__element {
  opacity: 1;
}

.image--bg {
  background-color: inherit;
  background-position: center center;
  background-size: contain;
}
